.leftCard {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;

  // box-shadow: rgba(0, 0, 0, 0.15) 0px 35px 80px;
  a {
    font-size: 19px;
    display: flex;
    align-items: center;
    font-family: Georgia, serif, 宋体;
    padding-left: 5px;
    padding: 7px 5px;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    color: #fff;
    font-family: Georgia, serif, 宋体;
    &:hover {
      color: #1677ff;
      -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      transform: translateY(-3px);
      -webkit-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
    }
  }
}
@media screen and (max-width: 992px) {
  .leftCard {
    display: flex;
    justify-content: space-around;
    border: 0;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    flex-direction: row;
    width: 100%;
    height: auto;
    a {
      font-size: 14px;
      padding: 0;
    }
  }
}
